<h2>About String Blog</h2>

<p>String Blog was created to help unearth new archival info about stringed instruments in the US in the first half of the 20th century. This includes guitars, steel guitars, banjos, mandolins, ukuleles, and more. We bring information about the players of these instruments, the instruments themselves, the luthieres who created these instruments, and how they impacted different genres of music from ragtime, jazz, country, blues, and more.</p>
