<div class="container-fluid">
  <header class="jumbotron">
    <h1>The String Blog</h1>
  </header>
  <nav class="nav navbar">
    <div class="container nav-list">
      <h3>{{#link-to 'index'}}Home{{/link-to}}</h3>
      <h3>{{#link-to 'about'}}About{{/link-to}}</h3>
      <h3>{{#link-to 'contact'}}Contact{{/link-to}}</h3>
    </div>
  </nav>
  <div class="container">
    {{outlet}}
  </div>
</div>
